{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block submit_buttons_top %}
    {{ block.super }}
    <div class="seos-admin-action-row seos-admin-action-row-top">
        {% url opts|admin_urlname:'changelist' as changelist_url %}
        <a href="{{ changelist_url }}" class="button seos-admin-action-button seos-back-button">
            ← Voltar ao estoque
        </a>
    </div>
{% endblock %}

{% block submit_buttons_bottom %}
    {{ block.super }}
    <div class="seos-admin-action-row">
        {% url opts|admin_urlname:'changelist' as changelist_url %}
        <a href="{{ changelist_url }}" class="button seos-admin-action-button seos-back-button">
            ← Voltar ao estoque
        </a>
    </div>
{% endblock %}
